Repository next-step/js-todo-list-step3, pull requests merged in 2020-11, with the labels that each got.

#12 [3기 JunilHwang] TodoList for team
  .gitignore
  css/style.css
  dist/App.js
  index.html
  js/App.js
  js/Team.js
  kanban.html
  package-lock.json
  package.json
  src/App.ts
  src/_core/Component.ts
  src/_core/Observer.ts
  src/_core/RestClient.ts
  src/_core/Router.ts
  src/_core/Store.ts
  src/_core/index.ts
  src/adapter/todoAdapter.ts
  src/components/Team/TeamAppendForm.ts
  src/components/Team/TeamList.ts
  src/components/Todo/TodoHeader.ts
  src/components/Todo/TodoItemAppender.ts
  src/components/Todo/TodoList.ts
  src/components/Todo/TodoListFooter.ts
  src/components/Todo/TodoListOfTeam.ts
  src/components/Todo/TodoMemberAppendForm.ts
  src/components/Todo/TodoMemberAppender.ts
  src/constants/index.ts
  src/domains/TodoItem.ts
  src/domains/TodoMember.ts
  src/domains/TodoTeam.ts
  src/domains/index.ts
  src/router/index.ts
  src/router/todoRouter.ts
  src/services/TeamService.ts
  src/services/TodoService.ts
  src/services/index.ts
  src/store/index.ts
  src/store/teamStore.ts
  src/store/todoOfTeamStore.ts
  src/utils/index.ts
  src/views/Kanban.ts
  src/views/Team.ts
  src/views/index.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Labels: TeamA, 🚀 필수미션, 🚀 🚀 추가미션, 🚨 리뷰 요청

#13 [3기 이한솔] TodoList for team
  README.md
  css/style.css
  index.html
  js/apiclient/HttpClient.js
  js/apiclient/HttpClientAdapter.js
  js/apiclient/TeamHttpClient.js
  js/components/team/TeamApp.js
  js/components/team/TeamList.js
  js/components/todo/TodoApp.js
  js/components/todo/TodoFooter.js
  js/components/todo/TodoInput.js
  js/components/todo/TodoList.js
  js/components/todo/TodoTitle.js
  js/data/constant.js
  js/factory/AbstTodoListFactory.js
  js/factory/todo/TodoListFactory.js
  js/observer/Observer.js
  js/observer/Pipe.js
  js/observer/Subject.js
  js/service/TeamService.js
  js/utils/functionalJS.js
  js/utils/utils.js
  kanban.html
Labels: TeamA, 🚀 필수미션, 🚀 🚀 추가미션, 🚨 리뷰 요청

#16 [3기 김종완] TodoList for team
  README.md
  index.html
  js/App.js
  js/Team.js
  js/components/Team/TeamTitle.js
  js/components/Todo/TodoFooter.js
  js/components/Todo/TodoInput.js
  js/components/Todo/TodoList.js
  js/components/Todo/TodoListContainer.js
  js/components/Todo/TodoTeamTitle.js
  js/components/Todo/UserAddButton.js
  js/components/Todo/UserListContainer.js
  js/components/Todo/UserTitle.js
  js/constants/constants.js
  js/core/component.js
  js/core/pubsub.js
  js/index.js
  js/service/TeamApi.js
  js/service/TodoApi.js
  js/service/api.js
  js/store/actions.js
  js/store/index.js
  js/store/mutations.js
  js/store/state.js
  js/store/store.js
  kanban.html
  paste_index.html
  paste_js.js
  paste_kanban.html
Labels: TeamA, 🚀 필수미션, 🚀 🚀 추가미션, 🚨 리뷰 요청

#17 [3기 전환오] TodoList for team
  .prettierrc
  index.html
  js/App.js
  js/Team.js
  js/api/ApiClient.js
  js/api/ApiService.js
  js/components/App.js
  js/components/TeamList/AddButton.js
  js/components/TeamList/TeamButton.js
  js/components/TeamList/index.js
  js/components/Title.js
  js/components/TodoListContainer/AddMemberButton.js
  js/components/TodoListContainer/TodoList/TodoCountContainer/TodoClearButton.js
  js/components/TodoListContainer/TodoList/TodoCountContainer/TodoCount.js
  js/components/TodoListContainer/TodoList/TodoCountContainer/TodoFilter.js
  js/components/TodoListContainer/TodoList/TodoCountContainer/index.js
  js/components/TodoListContainer/TodoList/TodoInput.js
  js/components/TodoListContainer/TodoList/TodoMain.js
  js/components/TodoListContainer/TodoList/index.js
  js/components/TodoListContainer/index.js
  js/constants/index.js
  js/core/Component.js
  js/core/State.js
  js/index.js
  js/router/index.js
  js/utils/index.js
  kanban.html
  node_modules/.bin/prettier
  node_modules/prettier/LICENSE
  node_modules/prettier/README.md
  node_modules/prettier/bin-prettier.js
  node_modules/prettier/doc.js
  node_modules/prettier/index.js
  node_modules/prettier/package.json
  node_modules/prettier/parser-angular.js
  node_modules/prettier/parser-babel.js
  node_modules/prettier/parser-flow.js
  node_modules/prettier/parser-glimmer.js
  node_modules/prettier/parser-graphql.js
  node_modules/prettier/parser-html.js
  node_modules/prettier/parser-markdown.js
  node_modules/prettier/parser-postcss.js
  node_modules/prettier/parser-typescript.js
  node_modules/prettier/parser-yaml.js
  node_modules/prettier/standalone.js
  node_modules/prettier/third-party.js
  package-lock.json
Labels: TeamB, 🚀 필수미션, 🚀 🚀 추가미션

#19 [3기 박은영] TodoList for team
  .gitignore
  README.md
  css/style.css
  index.html
  js/App.js
  js/ENV.js
  js/Router.js
  js/Team.js
  js/components/container/AppLayout.js
  js/components/container/TodoApp.js
  js/components/template/Header.js
  js/components/template/kanban/AddUser.js
  js/components/template/kanban/TodoFooter.js
  js/components/template/kanban/TodoInput.js
  js/components/template/kanban/TodoList.js
  js/components/template/kanban/TodoTitle.js
  js/components/template/kanban/UserTodo.js
  js/components/template/team/AddTeam.js
  js/components/template/team/TeamCard.js
  js/constant/HTTPMethod.js
  js/constant/PRIORITY.js
  js/constant/STRINGS.js
  js/endpoint/RestApi.js
  js/endpoint/team/api.js
  js/endpoint/team/controller.js
  js/endpoint/team/prototype.js
  js/eventHandler.js
  js/lib/CreateElement.js
  js/lib/HashParse.js
  js/lib/SortTodoListByPriority.js
  js/lib/UseMiddleWare.js
  js/lib/state.js
  js/lib/validators.js
  js/page/Home.js
  js/page/Kanban.js
  js/page/_app.js
  js/store/team.js
  kanban.html
Labels: TeamB, 🚀 필수미션, 🚀 🚀 추가미션, 🚨 리뷰 요청
